*{ 
margin: 0;
box-sizing: border-box;

}
main{
    /* background: tomato; */
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.form-holder{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 35px 36px 16px;
    border: 1px solid #ccc;
    box-shadow: rgba(0,0,0,0.35) 5px 15px;
}
#course{
    max-width: 300px;
}
#age{
    max-width: 65px;
}
.form-group-input,.form-group-radio,.form-group-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#address{
    max-width: 212px;
    max-height: 50px;
 }
 div{
    padding-bottom: 5px;
 }